


{% extends 'base.html' %}

{% block body %}
<p><a href="{{ url_for('.add_dog')}}"> Add a new dog</a>
{% if dogs %}
    <table>
        <thead>
            <tr>
                <th>dogId</th>
                <th>dogName</th>
                <th>age</th>
                <th>breed</th>
            </tr>
        </thead>

      <tbody>

            {% for row in dogs %}      <tr>

                <td> {{ row.dogId }}</td>
                <td> {{ row.dogName }}</td>
                <td> {{ row.age }}</td>
                <td> {{ row.breed }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
